
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Middle</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of data;index as i" >
      <th scope="row">{{i+1}}</th>
      <th scope="col">{{x.fname | uppercase}}</th>
      <th scope="col">{{x.mname | uppercase}}</th>
      <th scope="col">{{x.lname | uppercase}}</th>
      <th scope="col">{{x.email}}</th>
      <th scope="col">{{x.username}}</th>
      <th scope="col"><div class="btn btn-success" (click)="showEditPopup(x.username)" >Edit</div></th>
      <th scope="col"><div class="btn btn-success" (click)="deleteEmployee(x.username)" >Delete</div></th>
     
    </tr>
    </tbody>
</table>

<div class="btn btn-success" style="float:right" (click)="addEmployee()" >Add New</div>